<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4" *ngFor="let review of reviews">
        <div class="card h-100">
          <img [src]="review.image" class="card-img-top" alt="{{ review.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ review.name }}</h5>
            <p class="card-text">{{ review.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ review.date }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  