
<div class="header">
  <div class="homesection">
    <div class="headline">
      <h1 class="hone">Angular Project</h1>
      <h2 class="htwo">Project in Angular For Negbuy Interview</h2>
    </div>
    <div>
      <a routerLink="#mains"
        ><button mat-raised-button color="primary">Let's get Started</button></a
      >
    </div>
  </div>
</div>

<div class="main grid" id="mains" >
  <div class="griditem firstgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>High quality</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="griditem secondgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Versatile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="griditem thirdgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Frictionless</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="griditem forthgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Featured components</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="griditem fifthgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Guides</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="griditem sixgrid">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Components</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center" style="font-size: 40px;">Reviews</h2>
    </div>
  </div>
  <app-review></app-review>
</div>


